.accordion-table__empty-container {
  background-color: $color-grey-white;
  width: 32em;
  height: 11em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "message";
}

.accordion-table__empty-title {
  font-family: $heading-font-family;
  font-weight: bold;
  font-size: 1em;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-greyish-brown;
  text-transform: uppercase;
  grid-area: message;
  align-self: center;
  justify-self: center;
}

.accordion-table__container {
  background-color: $color-white;
  border: 0.1em solid $color-grey-light;
  border-radius: 0.4em;
  max-width: 32em;
}

.accordion-table__container a {
  color: $color-ocean-blue;
}

.accordion-table__title-area {
  border-bottom: 0.02em solid $color-grey-light;
  font-size: 1.1em;
  font-weight: bold;
  padding: 1em;
  display: grid;
}

.accordion-table__title-area--single-column {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "titleColumn1";
}

.accordion-table__title-area--double-column {
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "titleColumn1 titleColumn2";
}

.accordion-table__title-column-1 {
  grid-area: titleColumn1;
}

.accordion-table__title-column-2 {
  grid-area: titleColumn2;
}

.accordion-table__footer {
  text-align: right;
  font-size: 0.84em;
}

.accordion-table__footer .pagination {
  list-style: none;
  padding: 1.1em 0.7em;
  margin: 0;
}

.accordion-table__footer .pagination li {
  display: inline-block;
  margin: 0 0.3em;
  cursor: pointer;
}

.accordion-table__footer .pagination .pg-link-element {
  color: $color-grey-light;
}

.accordion-table__footer .pagination .pg-active .pg-link-element {
  color: $color-ocean-blue;
}

.accordion-table__footer .pagination .tempo-icon {
  display: inline-block;
  font-size: 1em;
  padding: 0 0.3em;
}

.accordion-table__footer span.clear {
  display: block;
  clear: both;
}
