.btn {
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 4px;
  min-width: 3rem;
  min-height: 1.4rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-family: $font-family;

  &--fill {
    width: 100%;
  }

  &-text--primary {
    border: none;
    font-size: 0.8rem;
    color: $color-button-text-color;
    background-color: rgba(0, 0, 0, 0);
  }

  &-outline--primary {
    border: 1px solid $color-button-primary;
    background-color: $color-white;
    color: $color-button-primary;
  }

  &-outline--danger {
    border: 1px solid $color-button-danger;
    background-color: $color-white;
    color: $color-button-danger;
  }

  &-raised--primary {
    border: 1px solid $color-button-primary;
    background-color: $color-button-primary;
    color: $color-white;
  }

  &-raised--danger {
    border: 1px solid $color-button-danger;
    background-color: $color-button-danger;
    color: $color-white;
  }

  &-outline--disable {
    cursor: default;
    border: 1px solid $color-button-disable-dark;
    color: $color-button-disable-dark;
    background: none;
  }

  &-raised--disable {
    cursor: default;
    color: $color-button-disable-dark;
    background-color: $color-button-disable-light;
    border: 1px solid $color-button-disable-light;
  }
}

.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text--hide {
  opacity: 0;
}

.button-loading {
  position: absolute;
  margin-top: 2px;
}
