$message-border-radius: 0.3rem;

.message {
  display: grid;
  grid-template-areas: 'logo text button';
  grid-template-columns: 2.6rem auto auto;
  grid-template-rows: auto;
  z-index: 10;
  margin-top: 1rem;
  max-width: 28rem;
  min-width: 17rem;
  min-height: 2.2rem;
  border-radius: $message-border-radius;
  list-style-type: none;
  transform: translateX(-50%);

  &-embed {
    position: inherit;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
    transform: none;
  }

  &-container {
    display: inherit;
    left: 50%;
    position: absolute;
  }

  &--message {
    background-color: $color-white;
    border: 1px solid $color-message;
  }

  &--success {
    background-color: $color-success;
  }

  &--danger {
    background-color: $color-fail;
  }

  &--info {
    background-color: $color-info;
  }

  &--warning {
    background-color: $color-warning;
  }

  &__logo {
    grid-area: logo;
    display: grid;
    font-weight: bold;
    border-top-left-radius: $message-border-radius;
    border-bottom-left-radius: $message-border-radius;
    justify-content: center;
    align-content: center;
  }

  &__icon {
    display: inline;
    font-weight: bold;

    &--success {
      color: $color-success;
      font-size: 1rem;
    }

    &--danger {
      color: $color-fail;
    }

    &--info {
      color: $color-info;
    }

    &--message {
      color: $color-white;
    }

    &--warning {
      color: $color-warning;
    }
  }

  &__icon-container {
    display: flex;
    width: 1.5rem;
    border-radius: 50%;
    height: 1.5rem;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    &--light {
      background-color: $color-message;
    }

    &--dark {
      background-color: $color-white;
    }
  }

  &__text {
    margin: 0.32rem 0.24rem 0.3rem 0.5rem;
    grid-area: text;
    align-self: center;
    justify-self: start;
    text-align: start;
    
    &--light {
      color: $color-message;
    }

    &--dark {
      color: $color-white;
    }
  }

  &__button-container {
    grid-area: button;
    align-self: center;
    justify-self: end;
  }

  &--fadein {
    animation: moveInTop 5s ease-out 0.2s;
    animation-fill-mode: backwards;
    position: fixed;
  }
}

.message__button-close {
  margin: 2px 4px 0 0;
  border: none;
  background: none;
  color: $color-white;
  cursor: pointer;
}
