.modal-body {
  margin: 30vh auto;
  background-color: $color-white;
  width: 30em;
  border-radius: 10px;
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-modal-overlay;
}
