@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
  font-size: 14px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
}

.sb-show-main {
  margin: 0;
}
