.table {
  border-collapse: collapse;
  min-width: 100%;
}

.table-header-cell {
  padding: 0.6rem 0 0.4rem 0.5rem;
}

.table-header-content {
  display: flex;
}

.table-item {
  width: 9.625rem;
}

.table__cell {
  padding: 0.5rem;
  border-bottom: 0.1rem solid $color-table-header-border;
}

.table-group {
  height: 2.3rem;

  &--default {
    background-color: $color-table-header-background;
    border: 0.1rem solid $color-table-header-border;
  }
}

.table-icon {
  display: inline-block;
}

.empty-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9.5rem;

  &.empty-table__color {
    background-color: $color-table-empty;
  }
}
