.default-input {
  padding: 0.45rem 0.45rem 0.35rem 0.45rem;
  margin: 0.4rem 0;
  border-radius: 0.2rem;
  border: $input-border-color 1px solid;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:disabled {
    color: $input-placeholder-color;
    background-color: $input-disabled-color;
  }

  font-family: $font-family;
  font-size: 0.85rem;
  color: $font-grey;
}
